.token-container {
    width: 100vw;
    height: 86vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.token-content {
    width: 30%;
    min-width: 335px;
    margin-top: auto;
    padding: 25px;
    border-radius: 10px;
    border-style: groove;
    border-width: 2px;
    border-color: rgb(245, 104, 104);
    background: #C91E24;
    font-size: 18px;
    text-align: center;
    -webkit-box-shadow: 0px 7px 13px 0px rgba(50, 50, 50, 0.74);
    -moz-box-shadow:    0px 7px 13px 0px rgba(50, 50, 50, 0.74);
    box-shadow:         0px 7px 13px 0px rgba(50, 50, 50, 0.74);
}

.token-content section{
    text-align: center;
    margin-bottom: 15px;
}

.token-content section img {
    width: 30%;
    height: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.token-content form input {
    margin-bottom: 10px;
}

.token-content form .back-link {
    width: 70px;
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.token-content form .mailEdit-link {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    transition: opacity 0.2s;
    opacity: 0.8;
}