.register-container {
    width: 100vw;
    height: 88vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.register-content {
    width: 30%;
    min-width: 335px;
    margin-top: auto;
    padding: 25px;
    border-radius: 10px;
    border-style: groove;
    border-width: 2px;
    border-color: rgb(245, 104, 104);
    background: #C91E24;
    font-size: 18px;
    text-align: center;
    -webkit-box-shadow: 0px 7px 13px 0px rgba(50, 50, 50, 0.74);
    -moz-box-shadow:    0px 7px 13px 0px rgba(50, 50, 50, 0.74);
    box-shadow:         0px 7px 13px 0px rgba(50, 50, 50, 0.74);
}

.register-content section{
    text-align: center;
    margin-bottom: 8px;
}

.register-content section img {
    width: 20%;
    height: 20%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.register-content form input {
    margin-bottom: 10px;
}

.register-content form .back-link {
    width: 190px;
    display: flex;
    justify-content: right;
    margin-top: 20px;
}

.register-content form .password-input-check.--has-error{
    color: #f00;
    opacity: 80%;
}

.register-content form .password-input-check.--has-checked{
    border-color: rgb(14, 236, 6);
    border-width: 2px;
}